<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TEAM-MANAGE-APP</title>
    <script src="javascripts/react.js"></script>
    <script src="javascripts/react-dom.js"></script>
    <script src="javascripts/browser.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div id="root"></div>
    <table>
        <tr>
            <th>CREATE MEMBER</th>
            <th>CREATE PROJECT</th>
        </tr>
        <tr>
            <td>
                <div id="create-member"></div>
            </td>
            <td>
                <div id="create-project"></div>
            </td>
        </tr>
        <tr>
            <th>MEMBER JOIN PROJECT</th>
            <th>GET DETAIL PROJECT</th>
        </tr>
        <tr>
            <td>
                <div id="member-join-project"></div>
            </td>
            <td>
                <div id="project-detail"></div>
            </td>
        </tr>
    </table>
    <script src="react/create_project.js" type="text/babel"></script>
    <script src="react/project_members.js" type="text/babel"></script>
    <script src="react/create_member.js" type="text/babel"></script>
    <script src="react/detail_project.js" type="text/babel"></script>
</body>

</html>